@use './variables' as *;

body {
    background-color: $bg-light;
    color: $text-dark;
}

img {
    max-width: 100%;
    height: auto;
}

// Label de acessibilidade

.accessibility-label {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}