.site-footer {
    margin-top: 2rem;
    padding: 4vh 4vw;
    background-color: #eeeeee;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 20vw;
}

.footer-title {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-logo {
    margin-bottom: 0.5rem;

    font-size: 1.4rem;
    font-weight: 800;
    color: #1b1b1b;
}

.footer-description {
    font-size: 13px;
    color: rgb(22, 22, 22);
    margin-bottom: 5px;
}

.social-media-list {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
}

.social-media-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.payment-methods {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.payment-method-image {
    width: 40px;
    height: auto;
}

.payment-method-image-pix {
    width: 40px;
    height: 40px;

    background-color: white;
}

.social-media-item {
    margin-right: 10px;
}

.social-media-image {
    width: 24px;
    height: auto;
}

.newsletter-button-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1b1b1b;
    border: 1px solid #1b1b1b;
    color: white;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.newsletter-button-image {
    width: 40px;
    height: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}