@use '../../base/variables' as *;
@use '../../utilities/responsive' as *;

// Newsletter

.newsletter {
    margin-top: $section-spacing;
    padding-inline: $content-padding-inline;
}


// Conteúdo da newsletter

.newsletter-content {
    padding: 2rem 3rem;

    background-image: url("../../../../public/assets/images/newsletter/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(0.95);

    border-radius: $border-radius;
}


// Informações

.newsletter-info {
    gap: 0.8rem;
    margin-right: 5rem;
}

.newsletter-title {
    font-size: 2rem;
    font-weight: 700;
    color: $text-light;
}

.newsletter-description {
    font-size: 1rem;
    color: $text-light;
}

// Campo de e-mail

.newsletter-input {
    padding: 0.75rem;
    min-width: 14.5rem;

    color: $text-dark;
    border-radius: $border-radius 0 0 $border-radius;
    border: 1px solid white;
    font-weight: 600;
}

.newsletter-input::placeholder {
    color: $text-muted;
}


// Botão

.newsletter-button {
    padding: 0.75rem;
    min-width: 4.5rem;

    border-radius: 0 $border-radius $border-radius 0;
    border: 1px solid white;
    color: $text-light;
}


// Privacidade

.newsletter-privacy {
    font-size: 14px;
    color: #aaa;
}

@include mobile {
    .newsletter-content {
        padding: 2rem 1rem;
        height: 200px;
        gap: 0;
    }

    .newsletter-info {
        margin-right: 1rem;
    }
    
    .newsletter-button {
        background-color: $bg-dark;
        width: 70px !important;
        min-width: 70px !important;
        height: 26px;
        padding: 0;
        font-size: .5rem;
        line-height: 1;
    }
    
    .newsletter-title {
        font-size: 1.25rem;
    }
    
    .newsletter-description {
        font-size: .7rem;
    }

    .newsletter-description {
        font-size: .55rem;
    }

    .newsletter-privacy {
        width: 120px;
        font-size: .575rem;
    }

    .newsletter-input {
        width: 100px !important;
        min-width: 10px !important;
        height: 25px;
        font-size: .575rem;
    }
}